<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: "Home"}) %>


<body>
    <%- include('partials/header') %>
    
    <main class="index">
            
        <!-- CARROUSEL -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <% platforms.forEach(platform => { %>
                    <div class="swiper-slide"><a href="/platforms/<%= platform.id %>"><img class="swiper-slide__imgs" src="/images/section/<%= platform.image %>" alt=""></a></div>
                <% }) %>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- <div class="index__main--chat">
            <a href=""><i class="fa-solid fa-comments"></i></a>
        </div> -->
        <div class="index__main--products">
            <h1 id="destacados" class="index__main--titulo1">Destacados</h1>
            <% productsFeatured.forEach(product => { %>
             <%- include('partials/productCard',{
                ...product.dataValues, toThousand
             }) %>
            <% }) %>

            
            <h1 id="news" class="index__main--titulo2">Nuevos Lanzamientos</h1>
            <% productsNewReleases.forEach(product => { %>
                <%- include('partials/productCard',{
                   ...product.dataValues, toThousand 
                }) %>
               <% }) %>
               
            <h1 id="+vendidos" class="index__main--titulo3">Los más vendidos</h1>
            <% productsBestSellers.forEach(product => { %>
                <%- include('partials/productCardM',{
                   ...product.dataValues, toThousand 
                }) %>
               <% }) %>
            <div class="index__main--article-box2">
                <% productsBestSellers.forEach(product => { %>
                    <%- include('partials/productCard',{
                       ...product.dataValues, toThousand 
                    }) %>
                   <% }) %>
                    </div>
                </div>
            </main>
            <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>
            
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
<!-- nieve -->
    <%- include('partials/nieve') %>
    <button hidden class="nav-link snow-btn" type="button"></button>
    <!-- nieve2 -->
    <%- include('partials/nieve2') %>
    <button hidden class="nav-link snow-btn2" type="button"></button>
<!-- lluvia -->
    <%- include('partials/lluvia') %>
    <button hidden class="nav-link lluvia-btn" type="button"></button>
</body>

</html>