<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: "Login" }) %>

    <body>
        <%- include('partials/header') %>
            <main class="main__login">
                <div class="main__login--formulario">
                    <h2 class="main__login__formulario--titulo">Iniciar Sesión</h2>

                    <form action="" id="formLogin" method="POST">
                        <div class="main__login__formulario__form--inputs">
                            <i class="fa-regular fa-envelope"></i>
                            <input class="cambiarColor" type="text" id="email" placeholder="Tu email" name="email">
                            <small class="text-danger d-flex justify-content-center ms-2" id="msgError-email">
                               <p><%= locals.errors && (errors.email && errors.email.msg) %></p> 
                            </small>
                        </div>
                        <div class="main__login__formulario__form--inputs">
                            <i  id="button-eye" class="fa fa-eye"></i>
                            <input class="cambiarColor" type="password" name="password" id="password" placeholder="Ingresar clave...">
                            <small class="text-danger d-flex justify-content-center ms-2" id="msgError-password">
                                <p><%= locals.errors && (errors.password && errors.password.msg) %></p>
                            </small>
                        </div>

                        <div class="main__login__formulario__form--box">
                            <a href="/users/register">Registrarme</a>
                            <div class="form-check d-flex justify-content-center gap-2" id="rememberBox">
                                <input type="checkbox" class="form-check-input"  id="remember" name="remember">
                                <label for="remember" class="form-check-label d-flex gap-0">recordame</label>
                            </div>
                        </div>

                        <div>
                            <button class="main__login__formulario__form--button" type="submit">LOGIN</button>
                        </div>
                    </form>
                    <div class="main__login__box--iniciarGoogle">
                        <div class="main__login--lineaVerde">
                            <h5>Iniciar Sesion con google</h5>
                        </div>
                    </div>
                    <div class="main__login--buttonGoogle">
                        <img src="/images/login/logo_g.png" alt="">
                        <a href="/auth.routes/login/google">Continuar con google</a>
                    </div>

                </div>

                <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>
            </main>
            <%- include('partials/footer') %>
            <%- include('partials/scripts') %>
      <!-- nieve -->
      <%- include('partials/nieve') %>
      <button hidden class="nav-link snow-btn" type="button"></button>
     <!-- nieve2 -->
    <%- include('partials/nieve2') %>
    <button hidden class="nav-link snow-btn2" type="button"></button>
      <!-- lluvia -->
      <%- include('partials/lluvia') %>
      <button hidden class="nav-link lluvia-btn" type="button"></button>
            <script src="/javascripts/validationsFrontEnd/loginValidator.js"></script>
    </body>

</html>

<form action=""></form>