<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {
    title: `Plataforma: ${section.name}`
    }) %>


<body>
    <%- include('partials/header') %>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <% platforms.forEach(platform => { %>
                <div class="swiper-slide"><a href="/platforms/<%= platform.id %>"><img class="swiper-slide__imgs" src="/images/section/<%= platform.image %>" alt=""></a></div>
            <% }) %>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-pagination"></div>
    <main class="main__search">
    <% section.products.forEach(product => { %>
        <%- include('partials/productCardS',{
            ...product.dataValues, toThousand
         }) %>
    <% }) %>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>
</html>