<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title: "Añadir Producto"}) %>
    <body>
        <%- include('partials/header') %>
                <main class="productAdd">
                  <div class="productAdd__box">
                    <h1>Carga de Nuevos Productos</h1>
                    <form class="productAdd__box__form" method="post" action="/products/productAdd" enctype="multipart/form-data">
                        <div class="productAdd__box__form--name">
                            <label for="title">Nombre del Producto:</label>
                            <input type="text" id="title" name="title" value ="<%= locals.old && (old.title&&old.title) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.title && errors.title.msg) %></small>
                        </div>
                        <div class="productAdd__box__form--category">
                            <label for="categoryId">Categoría:</label>
                            <select id="categoryId" name="categoryId" >
                                <option hidden selected></option>
                                <option value="featured" <%= locals.old && (old.categoryId) %>>Destacados</option>
                                <option value="new releases" <%= locals.old && (old.categoryId) %>>Nuevos Lanzamientos</option>
                                <option value="best sellers" <%= locals.old && (old.categoryId) %>>Más Vendidos</option>
                                <!-- Agrega más opciones de categorías  -->
                            </select>
                            <small class="text-danger ms-2"><%= locals.errors && (errors.category && errors.category.msg) %></small>
                        </div>
                        <div class="productAdd__box__form--price">
                            <label for="price">Precio:</label>
                            <input type="number" id="price" name="price" placeholder="$" value="<%= locals.old && (old.price && old.price) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.price && errors.price.msg) %></small>
                        </div>
                        <div class="productAdd__box__form--descuento">
                            <label for="discount">Descuento:</label>
                            <input type="number" id="discount" name="discount" placeholder="%">
                        </div>
                        <div class="productAdd__box__form--uiMinimos">
                           <h3>requisitos minimos</h3>
                           <label for="minOs">os:</label>
                            <input type="text" id="minOs" name="minOs" value="<%= locals.old && (old.minOs && old.minOs) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.minOs && errors.minOs.msg) %></small>
                            <label for="minProcessor">Procesador:</label>
                            <input type="text" id="minProcessor" name="minProcessor" value="<%= locals.old && (old.minProcessor && old.minProcessor) %>" >
                            <small class="text-danger ms-2"><%= locals.errors && (errors.minProcessor && errors.minProcessor.msg) %></small>
                            <label for="minMemory">Memoria:</label>
                            <input type="text" id="minMemory" name="minMemory" value="<%= locals.old && (old.minMemory && old.minMemory) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.minMemory && errors.minMemory.msg) %></small>
                            <label for="minGraphicsCard">Grafica:</label>
                            <input type="text" id="minGraphicsCard" name="minGraphicsCard" value="<%= locals.old && (old.minGraphicsCard && old.minGraphicsCard) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.minGraphicsCard && errors.minGraphicsCard.msg) %></small>
                            <label for="minDisk">Almacenamiento:</label>
                            <input type="text" id="minDisk" name="minDisk" value="<%= locals.old && (old.minDisk && old.minDisk) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.minDisk && errors.minDisk.msg) %></small>
                        </div>
                        <div class="productAdd__box__form--uiRecomendados">
                            <h3>requisitos recomendados</h3>
                           <label for="recommendedOs">os:</label>
                            <input type="text" id="recommendedOs" name="recommendedOs" value="<%= locals.old && (old.recommendedOs && old.recommendedOs) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.recommendedOs && errors.recommendedOs.msg) %></small>
                            <label for="recommendedProcessor">Procesador:</label>
                            <input type="text" id="recommendedProcessor" name="recommendedProcessor" value="<%= locals.old && (old.recommendedProcessor && old.recommendedProcessor) %>" >
                            <small class="text-danger ms-2"><%= locals.errors && (errors.recommendedProcessor && errors.recommendedProcessor.msg) %></small>
                            <label for="recommendedMemory">Memoria:</label>
                            <input type="text" id="recommendedMemory" name="recommendedMemory" value="<%= locals.old && (old.recommendedMemory && old.recommendedMemory) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.recommendedMemory && errors.recommendedMemory.msg) %></small>
                            <label for="recommendedGraphicsCard">Grafica:</label>
                            <input type="text" id="recommendedGraphicsCard" name="recommendedGraphicsCard" value="<%= locals.old && (old.recommendedGraphicsCard && old.recommendedGraphicsCard) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.recommendedGraphicsCard && errors.recommendedGraphicsCard.msg) %></small>
                            <label for="recommendedDisk">Almacenamiento:</label>
                            <input type="text" id="recommendedDisk" name="recommendedDisk" value="<%= locals.old && (old.recommendedDisk && old.recommendedDisk) %>">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.recommendedDisk && errors.recommendedDisk.msg) %></small>
                        </div>
                        <div class="productAdd__box__form--description">
                            <label for="description">Descripción:</label>
                            <textarea class="productAdd__box__form__description--text" id="description" name="description" ><%= locals.old && (old.description && old.description) %></textarea>
                            <small class="text-danger ms-2"><%= locals.errors && (errors.description && errors.description.msg) %></small>
                        </div>
                        <div class="productAdd__box__form--image">
                            <label for="mainImage">Imagen Principal:</label>
                            <input class="productAdd__box__image--img" type="file" id="mainImage" name="mainImage">
                            <small class="text-danger ms-2"><%= locals.errors && (errors.mainImage && errors.mainImage.msg) %></small>
                        </div>
                        <div>
                        <label for="images">Imagenes Secundarias:</label>
                        <input class="productAdd__box__image--img" multiple type="file" id="images" name="images" value="<%= locals.old && (old.images && old.images) %>">
                        <small class="text-danger ms-2"><%= locals.errors && (errors.images && errors.images.msg) %></small>
                         </div>
                        <div class="productAdd__box__form--btn">
                            <button class="productAdd__box__form--btn--clear" type="reset">CLEAR</button>
                            <button class="productAdd__box__form--btn--cargar" type="submit">CARGAR</button>
                        </div>
                    </form>
                </div>
                </main>
                <%- include('partials/footer') %>
                <%- include('partials/scripts') %>
    </body>

</html>