<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title: "Editar un producto"}) %>

    <body>
        <%- include('partials/header') %>
            <main class="productEdit">
                <div class="productEdit__box">
                    <h1>editar producto <%= title %>
                    </h1>
                    <form class="productEdit__box__form" action="/products/productUpdate/<%= id %>?_method=PUT"
                        method="POST" enctype="multipart/form-data">
                        <div class="productAdd__box__form--name">
                            <label for="title">Nombre del Producto:</label>
                            <input type="text" id="title" name="title" value="<%= title %>">
                        </div>
                        <div class="productAdd__box__form--category">
                            <label for="category">Categoría:</label>
                            <select id="category" name="category">
                                <option hidden>Seleccione una categoría</option>
                                <option value="featured" <%= (category === 'featured') ? 'selected' : '' %>>Destacados</option>
                                <option value="new releases" <%= (category === 'new releases') ? 'selected' : '' %>>Nuevos Lanzamientos</option>
                                <option value="best sellers" <%= (category === 'best sellers') ? 'selected' : '' %>>Más Vendidos</option>
                                <!-- Agrega más opciones de categorías aquí -->
                            </select>
                        </div>
                        <div class="productAdd__box__form--price">
                            <label for="price">Precio:</label>
                            <input type="number" id="price" name="price" value="<%= price %>" placeholder="$">
                        </div>
                        <div class="productAdd__box__form--descuento">
                            <label for="discount">Descuento:</label>
                            <input type="number" id="discount" name="discount" value="<%= discount %>" placeholder="%">
                        </div>
                        <div class="productAdd__box__form--requiMinimos">
                            <h3>Requisitos minimos</h3>
                            <label for="reqMinOs">os:</label>
                            <input type="text" id="reqMinOs" name="reqMinOs" value="<%= reqMinOs %>">
                            <label for="reqMinProcessor">Procesador:</label>
                            <input type="text" id="reqMinProcessor" name="reqMinProcessor"
                                value="<%= reqMinProcessor %>">
                            <label for="reqMinMemory">Memoria:</label>
                            <input type="text" id="reqMinMemory" name="reqMinMemory" value="<%= reqMinMemory %>">
                            <label for="reqMinGraphicsCard">Grafica:</label>
                            <input type="text" id="reqMinGraphicsCard" name="reqMinGraphicsCard"
                                value="<%= reqMinGraphicsCard %>">
                            <label for="reqMinDisk">Almacenamiento:</label>
                            <input type="text" id="reqMinDisk" name="reqMinDisk" value="<%= reqMinDisk %>">

                        </div>
                        <div class="productAdd__box__form--requiRecomendados">
                            <h3>Requisitos recomendados</h3>
                            <label for="reqRecommendedOs">os:</label>
                            <input type="text" id="reqRecommendedOs" name="reqRecommendedOs"
                                value="<%= reqRecommendedOs %>">
                            <label for="reqRecommendedProcessor">Procesador:</label>
                            <input type="text" id="reqRecommendedProcessor" name="reqRecommendedProcessor"
                                value="<%= reqRecommendedProcessor %>">
                            <label for="reqRecommendedMemory">Memoria:</label>
                            <input type="text" id="reqRecommendedMemory" name="reqRecommendedMemory"
                                value="<%= reqRecommendedMemory %>">
                            <label for="reqRecommendedGraphicsCard">Grafica:</label>
                            <input type="text" id="reqRecommendedGraphicsCard" name="reqRecommendedGraphicsCard"
                                value="<%= reqRecommendedGraphicsCard %>">
                            <label for="reqRecommendedDisk">Almacenamiento:</label>
                            <input type="text" id="reqRecommendedDisk" name="reqRecommendedDisk"
                                value="<%= reqRecommendedDisk %>">
                        </div>
                        <div class="productAdd__box__form--description">
                            <label for="description">Descripción:</label>
                            <textarea class="productAdd__box__form__description--text" id="description"
                                name="description"><%= description %></textarea>
                        </div>
                        <div class="productAdd__box__form--image">
                            <label for="MainImage">Imagen Principal:</label>
                            <input class="productAdd__box__image--img" type="file" id="MainImage" name="MainImage">
                        </div>
                        <div>
                            <label for="images">Imagenes Secundarias:</label>
                            <input class="productAdd__box__image--img" multiple type="file" id="images" name="images">
                        </div>
                        <div class="productAdd__box__form--btn">
                            <button class="productAdd__box__form--btn--clear" type="reset">CLEAR</button>
                            <button class="productAdd__box__form--btn--cargar" type="submit">CARGAR</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('partials/footer') %>
            <%- include('partials/scripts') %>
    </body>

</html>