<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Hoja personalizada -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/42701418d7.js" crossorigin="anonymous"></script>
</head>


<body class="detalle">
    <%- include('partials/header') %>

        <main class="detalle__main d-flex">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-3 mx-auto mt-5 mb-5 text-center">
                        <div class="card mb-3 shadow-lg bg-secondary text-white" style="width: 18rem; margin: 0 auto;">
                            <img class="card-img-top img-thumbnail" src="/images/users/<%= avatar || 'avatar1.png' %>"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Perfil de <%= firstName %>
                                        <%= lastName %>
                                </h5>
                                <p class="card-text">Rol: <%= rol %>
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Email: <%= email %>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 col-lg-8 mx-auto mt-5">
                        <div class="card mb-3 shadow-lg bg-secondary text-white">
                            <div class="card-header">Perfil usuario</div>
                            <div class="card-body">
                                <form action="/users/profileUpdate/<%= id %>?_method=PUT" method="POST" class="row"
                                    enctype="multipart/form-data">
                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="firstName" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="firstName" placeholder="Tu nombre"
                                            name="firstName" value="<%= firstName %>">
                                        <small class="text-danger ms-2">
                                            <%= locals.errors && (errors.firstName && errors.firstName.msg) %>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="lastName" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="Tu apellido"
                                            name="lastName" value="<%= lastName %>">
                                        <small class="text-danger ms-2">
                                            <%= locals.errors && (errors.lastName && errors.lastName.msg) %>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="birthday" class="form-label">Cumpleaños</label>
                                        <input type="date" class="form-control" id="birthday" name="birthday"
                                            value="<%= birthday %>">
                                        <small class="text-danger ms-2">
                                            <%= locals.errors && (errors.birthday && errors.birthday.msg) %>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="address" class="form-label">Dirección</label>
                                        <input type="text" class="form-control" id="address" placeholder="Domicilio"
                                            name="address" value="<%= address %>">
                                        <small class="text-danger ms-2">
                                            <%= locals.errors && (errors.address && errors.address.msg) %>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="province" class="form-label">Provincia</label>
                                        <select type="text" class="form-select" id="province" name="province"
                                            value="<%= province %>">
                                            <option <%=province==="" && 'selected' %> value="" hidden>Seleccione...
                                            </option>
                                            <option <%=province==="BA" && 'selected' %> value="BA">Buenos Aires</option>
                                            <option <%=province==="ROS" && 'selected' %> value="ROS">Santa Fe</option>
                                            <option <%=province==="CBA" && 'selected' %> value="CBA">Córdoba</option>
                                            <option <%=province==="NQN" && 'selected' %> value="NQN">Neuquén</option>
                                            <option <%=province==="MDZ" && 'selected' %> value="MDZ">Mendoza</option>
                                            <option <%=province==="UAQ" && 'selected' %> value="UAQ">San Juan</option>
                                        </select>
                                        <small class="text-danger ms-2">
                                            <%= locals.errors && (errors.province && errors.province.msg) %>
                                        </small>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="city" class="form-label">Ciudad</label>
                                        <select type="text" class="form-select" id="city" name="city"
                                            value="<%= city %>">
                                            <option <%=city==="" && 'selected' %> value="" hidden>Seleccione...</option>
                                            <option <%=city==="BA" && 'selected' %> value="BA">Buenos Aires</option>
                                            <option <%=city==="ROS" && 'selected' %> value="ROS">Rosario</option>
                                            <option <%=city==="CBA" && 'selected' %> value="CBA">Córdoba</option>
                                            <option <%=city==="NQN" && 'selected' %> value="NQN">Neuquén</option>
                                            <option <%=city==="MDZ" && 'selected' %> value="MDZ">Mendoza</option>
                                            <option <%=city==="UAQ" && 'selected' %> value="UAQ">San Juan</option>
                                        </select>
                                        <small class="text-danger ms-2">
                                            <%= locals.errors && (errors.city && errors.city.msg) %>
                                        </small>
                                    </div>
                                    <input class="form-control" type="file" id="avatar" name="avatar" hidden>
                                    <div class="d-flex justify-content-between">
                                        <label for="avatar" class="btn btn-dark">Avatar</label>
                                        <button type="submit" class="btn btn-dark">Guardar cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>
        <%- include('partials/footer') %>
            <%- include('partials/scripts') %>

</body>

</html>