<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{ title: `Hola ${name}!` }) %>


    <body class="detalle">
        <%- include('partials/header') %>

            <main class="detalle__main d-flex">
                <div class="container">
                    <div class="row">
                        <div class="col-10 col-md-10 col-lg-4 mx-auto mt-5 mb-5 text-center">
                            <div class="card mb-3 shadow-lg bg-secondary text-white"
                                style="width: 18rem; margin: 0 auto;">
                                <div style="height: 312.95px; overflow: hidden;">
                                    <img class="card-img-top img-thumbnail" style="width: 100%; height: 100%; object-fit: cover;" src="<%= /http/.test(avatar)? avatar?.toString().trim() : `/images/users/${avatar || 'default.png'}` %>" alt="Card image cap" id="mainImage">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Perfil de <%= name %>
                                            <%= surname %>

                                    </h5>
                                    <% if (roleId===1) { %>
                                        <p class="card-text">Admin
                                        </p>
                                        <% } %>

                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Email: <%= email %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-10 col-lg-8 mx-auto mt-5">
                            <div class="card mb-3 shadow-lg bg-secondary text-white">
                                <div class="card-header fs-3">Perfil usuario</div>
                                <div class="card-body">
                                    <form action="/users/profileUpdate?_method=PUT" id="formProfile"
                                        enctype="multipart/form-data" method="POST" class="row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="name" class="form-label">Nombre</label>
                                            <input type="text" class="form-control" id="name" placeholder="Tu nombre"
                                                name="name" value="<%= name %>">
                                            <small class="text-danger ms-2 fw-bold fs-6" id="msgError-name">
                                                <%= locals.errors && (errors.name && errors.name.msg) %>
                                            </small>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="surname" class="form-label">Apellido</label>
                                            <input type="text" class="form-control" id="surname"
                                                placeholder="Tu apellido" name="surname" value="<%= surname %>">
                                            <small class="text-danger ms-2 fw-bold fs-6" id="msgError-surname">
                                                <%= locals.errors && (errors.surname && errors.surname.msg) %>
                                            </small>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="birthday" class="form-label">Cumpleaños</label>
                                            <input type="date" class="form-control" id="birthday" name="birthday"
                                                value="<%= birthday %>">
                                            <small class="text-danger ms-2 fw-bold fs-6" id="msgError-birthday">
                                                <%= locals.errors && (errors.birthday && errors.birthday.msg) %>
                                            </small>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="address" class="form-label">Dirección</label>
                                            <input type="text" class="form-control" id="address" placeholder="Domicilio"
                                                name="address" value=" <%= address.address %>">
                                            <small class="text-danger ms-2 fw-bold fs-6" id="msgError-address">
                                                <%= locals.errors && (errors.address && errors.address.msg) %>
                                            </small>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="province" class="form-label">Provincia</label>
                                            <select type="text" class="form-select" id="province" name="province">
                                                <% if (address.city) {%>
                                                    <option value="<%=address.province %>" hidden>
                                                        <%=address.province %>
                                                    </option>
                                                    <% } else { %>
                                                        <option value="" hidden>Seleccione...</option>
                                                        <% } %>

                                            </select>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="city" class="form-label">Ciudad</label>
                                            <select type="text" class="form-select" id="city" name="city">
                                                <% if (address.city) {%>
                                                    <option value="<%=address.city %> " hidden>
                                                        <%=address.city %>
                                                    </option>
                                                    <% } else { %>
                                                        <option value="" hidden>Seleccione...</option>
                                                        <% } %>
                                            </select>
                                            <small class="text-danger ms-2">
                                                <%= locals.errors && (errors.city && errors.city.msg) %>
                                            </small>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-start">
                                                <input class="form-control" type="file" id="avatar" name="avatar"
                                                    hidden>
                                                <label for="avatar" id="avatarLabel" class="btn btn-dark">Avatar</label>
                                                <small class="text-danger ms-2 fw-bold fs-6" id="msgError-avatar">
                                                    <%= locals.errors && (errors.avatar && errors.avatar.msg) %>
                                                </small>
                                            </div>
                                            <div class="text-center mt-4 mb-3">
                                                <h5 class="text-danger my-1" id="msgError-empty">

                                                </h5>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-end">

                                            <button type="submit" class="btn btn-dark col-8 col-md-4 my-3">Guardar
                                                cambios</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>
            </main>
            <%- include('partials/footer') %>
            <script src="/javascripts/profileUpdateImage.js"></script>
            <script src="/javascripts/validationsFrontEnd/profile.js"></script>
            <%- include('partials/scripts') %>
            <%- include('partials/nieve') %>

    </body>

</html>