
<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head',{title: "Resultados de tu búsqueda"}) %>
<body>
    <%- include('partials/header') %>

<% if (results.length) { %>
    <main class="main__search">
        <% results.forEach(result => { %>
            <%- include('partials/productCardS',{
                ...result,
                toThousand
            }) %>
        <% }) %>
    </main>
<% }else{ %>
    <main class="main__search__error">
    <div class="main__search__error--404" >No se encontro tu busqueda</div>
    </main>
    <% } %>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>
</html>
