
<div class="index__main--article-box1">
    <article class="index__main__article--horizontal" data-aos="flip-down" data-aos-duration="1000">
        <img src="/images/products/<%= MainImage || 'default_image.png' %>" alt="">
        <a href="/products/productDetail/<%= id %>">
            <h4><%= title %>  <i class="fa-solid fa-cart-shopping"></i></h4>
        </a>
        <% if (discount) { %>
            <h4 class="index__main--article-lineProduct"> $<%=toThousand(price)%></h4>
            <p>-<%= discount %>%</p>
            <h4>$<%= toThousand(price-(price*discount/100).toFixed(0))%></h4> 
        <% } else { %>
            <h4> $<%=toThousand(price)%></h4>
            <% }  %> 
    </article>
</div>